@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: '#f8f8f8';
	--scroll-behavior: smooth !important;
	scroll-behavior: smooth !important;
}

.editor-placeholder {
	border: 2px;
	border-color: black;
}

.data-slate-leaf {
	font-weight: bold;
}

.tw-editorNav {
	transition: top 0.3s;
	position: fixed;
}
